* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9bb0c4;
    border: 2px solid #02e49b;
}

header, footer {
    background-color: #fff;
}
h1 {
    text-align: center;
}
.listeArticle {
    max-width: 500px; width: 100%; margin: 0 auto;
}

listfrt {
    background-color: #02e49b;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    max-width: 1000px; width: 100%; margin: 0 auto;
}
.wrap2 {
    max-width: 500px; width: 100%; margin: 0 auto;
}
label {display: block;}
input, select {
    width: 100%;
    padding: 1rem;
}
textarea {width: 100%;resize: none;}
.error {color:red;}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}