* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9bb0c4;
    border: 2px solid #02e49b;
}

header, footer {
    background-color: #fff;
}
h1 {
    text-align: center;
}
.listeArticle {
    max-width: 500px; width: 100%; margin: 0 auto;
}

listfrt {
    background-color: #02e49b;
    margin-left: auto;
    margin-right: auto;
}